* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

a:hover {
  color: #b8001c;
}
.container {
  width: 60%;
  max-width: 850px;
  margin: 0 auto;
}

.section {
  padding: 4rem 1rem;
}
